In [1]:
print("Hello World!")

Hello World!

In [2]:
# First program
print("Test")

Test

In [3]:
"""
This is a comment
written in
more than just one line
"""

'\nThis is a comment\nwritten in\nmore than just one line\n'

## Indentation

In [4]:
# Name Error
a=10
print("Value is",a)
a=NSBM
print("String is",a)

Value is 10

NameError: name 'NSBM' is not defined

In [5]:
a=10
print("Value is ",a)
a='NSBM'
print("String is ",a)

Value is  10
String is  NSBM

In [6]:
a, b, c="apple", "orange", "banana"
print("a")
print("b")
print("c")

a
b
c

In [7]:
a, b, c="apple", "orange", "banana"
print(a)
print(b)
print(c)

apple
orange
banana

In [8]:
a, b, c="apple", "orange", "banana"
print(a, b, c)

apple orange banana

## Naming a variable

In [9]:
# Invalid Syntax
1a=10
print(1a) # Cannot start with a number

SyntaxError: invalid decimal literal (2554017485.py, line 2)

In [10]:
a=3
b=2
print(a+b)

5

## Taking an input from the User

In [11]:
a=int(input("Enter First Number: "))
b=int(input("Enter Second Number: "))
c = a + b
print("Total is: ",c)

Enter First Number: 4
Enter Second Number: 6
Total is:  10

In [12]:
a=input("Enter your name ")
b=input("Enter your age ")
print("Hello <a> and you are <b> years old")

Enter your name Minusha
Enter your age 23
Hello <a> and you are <b> years old

In [13]:
# Invalid Syntax
a=input("Enter your name ")
b=input("Enter your age ")
print("Hello" ,a "and you are" ,b "years old")

SyntaxError: invalid syntax (3895217515.py, line 4)

In [14]:
a=input("Enter your name ")
b=input("Enter your age ")
print("Hello 'a' and you are 'b' years old",a,b)

Enter your name Minusha
Enter your age 23
Hello 'a' and you are 'b' years old Minusha 23

In [15]:
name=input("Enter your name ")
age=int(input("Enter your age "))
years=2024-age
print("Hello",name, "and you are",years, "years old")

Enter your name Minusha
Enter your age 23
Hello Minusha and you are 2001 years old

In [16]:
name=input("Enter your name ")
age=int(input("Enter your birthyear "))
years=2024-age
print("Hello",name, "and you are",years, "years old")

Enter your name Minusha
Enter your birthyear 2001
Hello Minusha and you are 23 years old

## Applications of single quotes & double quotes

In [17]:
string_a = "NSBM Green University"
string_b = 'NSBM Green University'

print(string_a)
print(string_a)

NSBM Green University
NSBM Green University

In [18]:
string_a = "'NSBM' Green University"
string_b = '"NSBM" Green University'

print(string_a)
print(string_a)

'NSBM' Green University
'NSBM' Green University

In [19]:
a="\"NSBM\" Green University"
b='\'NSBM\' Green University'
print(a)
print(b)

"NSBM" Green University
'NSBM' Green University

In [20]:
# Invalid Syntax
string_a = ""NSBM" Green University"
string_b = ''NSBM' Green University'

print(string_a)
print(string_a)

SyntaxError: invalid syntax (726094810.py, line 2)

## Changing Character Cases

In [21]:
course = "Programming in Python"
print(course.capitalize())
print(course.title())
print(course.upper())
print(course.lower())

Programming in python
Programming In Python
PROGRAMMING IN PYTHON
programming in python

In [22]:
course = "python"
print(course.capitalize())
print(course.title())
print(course.upper())
print(course.lower())

Python
Python
PYTHON
python

##  Arithmetic Operators

In [23]:
# Exponentiation
a=10
b=2
print(a**b)

100

In [24]:
# Floor Division
a=9
b=4
print(a//b)

2

In [25]:
# Modulus
a=10
b=20
print(b%a)

0

In [26]:
x=6
y=2
print(x**y)
print(x//y)
print(x%y)

36
3
0

##  Comparison Operators

In [27]:
# Equal
x=2
y=3
x==y

False

In [28]:
# Not Equal
x=2
y=3
x!=y

True

In [29]:
# Greater than
x=20
y=30
y>x

True

In [30]:
# Less than
x=20
y=30
x<y

True

##  Assignment Operators

In [31]:
x=5
x+=3 # (x = x + 3)
print(x)

8

In [32]:
x=5
x-=3 # (x = x - 3)
print(x)

2

In [33]:
x=5
x*=3 # (x = x * 3)
print(x)

15

In [34]:
x=5
x/=3 # (x = x / 3)
print(x)

1.6666666666666667

In [35]:
x=5
x%=3 # (x = x % 3)
print(x)

2

In [36]:
x=5
x//=3 # (x = x // 3)
print(x)

1

## Logical Operators

In [37]:
x=5
print(not(x>3 and x<10))

False

In [38]:
x=8
print(x>3 and x<10)
print(x>9 or x<10)

True
True

## Bitwise Operators

In [39]:
# x & y - Returns 1 if both the bits are 1 else 0
x = 10 
y = 4 
print(x & y)

0

In [40]:
x=10
y=6
print(x & y)

2

In [41]:
# x | y - Returns 1 if either of the bit is 1 else 0
x = 10 
y = 4 
print(x | y)

14

In [42]:
# x ^ y - Returns 1 if one of the bit is 1 and other is 0 else returns 0
x = 5 
y = 4 
print(x ^ y)

1

In [43]:
x =10
print(~x)

-11

In [44]:
a = 5
b = -10

# Bitwise Right Shift (x >> y) – similar effect as dividing a number with some power of 2.
print(a >> 2)
print(b >> 2)

# Bitwise Left Shift (x << y) – similar effect as multiplying a number with some power of 2
print(a << 1)
print(b << 1)

1
-3
10
-20

## Control Structure

### if Statement

In [45]:
num1=int(input("Enter First Number: "))
num2=int(input("Enter Second Number: "))
if(num1>num2):
    max=num1
else:
    max=num2
print("The maximum is: ",max)

Enter First Number: 4
Enter Second Number: 6
The maximum is:  6

In [46]:
x=10
if(x>=5):
   print("True")
print("False")

True
False

In [47]:
x=10
if(x>=15):
   print("True")
print("False")

False

In [48]:
num=int(input("Enter the mark: "))
if(num>75):
    print("A")
if(num>=65):
    print("B")
if(num>=50):
    print("C")
if(num>=35):
    print("S")
else:
    print("F")

Enter the mark: 67
B
C
S

In [49]:
num=int(input("Enter the mark: "))
if(num>75):
    print("A")
elif(num>=65):
    print("B")
elif(num>=50):
    print("C")
elif(num>=35):
    print("S")
else:
    print("F")

Enter the mark: 82
A

In [50]:
mark=int(input("Enter the mark: "))
if(mark>75):
    grade ='A'
elif(mark>=65):
    grade ='B'
elif(mark>=50):
    grade ='C'
elif(mark>=35):
    grade ='S'
else:
    grade ='F'
print("Grade is",grade)

Enter the mark: 77
Grade is A

In [51]:
no1=int(input("Enter First Number: "))
no2=int(input("Enter Second Number: "))
no3=int(input("Enter Third Number: "))
max=no1
if(no2>max):
    max=no2
if(no3>max):
    max=no3
print("The highest is: ",max)

Enter First Number: 67
Enter Second Number: 82
Enter Third Number: 39
The highest is:  82

In [52]:
num = float(input("Enter a number: "))
if num >= 0:
    if num == 0:
        print("Zero")
    else:
        print("Positive number")
else:
    print("Negative number")

Enter a number: 68
Positive number

## Inbuilt Functions

### print() function

In [53]:
print("Python", "Programming")
print('Python', 'Programming')

Python Programming
Python Programming

In [54]:
print("Python", "Programming", sep='--')

Python--Programming

### pow()

In [55]:
power = pow(2, 3) # 2 * 2 * 2
print(power)

8

In [56]:
power = pow(2, 3, 5) # (2 * 2 * 2) % 5
print(power)

3

In [57]:
no1=int(input("Enter First Number: "))
no2=int(input("Enter Second Number: "))
power=pow(no1,no2)
print(power)

Enter First Number: 4
Enter Second Number: 2
16

### type()

In [59]:
a = "Hello"
b = 300
c = ("Cat", "Dog", "Sheep")

x = type(a)
y = type(b)
z = type(c)

print(x)
print(y)
print(z)

<class 'str'>
<class 'int'>
<class 'tuple'>

In [60]:
a="NSBM"
b=type(a)
print(b)

<class 'str'>

In [61]:
p=["abc", "mno", "pqr"]
q=type(p)
print(q)

<class 'list'>

### round()

In [62]:
b=round(3567.6789)
print(b)

3568

In [63]:
b=round(3567.6789,2)
print(b)

3567.68

### ord()

In [64]:
ord('B')

66

### find()

In [65]:
text="Hello, Welcome to Programming"
x=text.find("e")
print(x)

1

- The indexing starts from 0

In [66]:
text="Hello, Welcome to Programming"
x=text.find("Welcome")
print(x)

7

In [67]:
text="Hello, Welcome to Programming"
x=text.find("j")
print(x)

-1

- find() function returns -1 if the value is not found

### min()

In [68]:
x=min(2,6,4,8)
print(x)

2

In [69]:
x=min("Mike", "Martin", "Victor")
print(x)

Martin

### max()

In [2]:
y = max(2, 7, 9, 8)
print (y)

9

In [3]:
y=max("Mike", "Martin", "Victor")
print(y)

Victor

### len()

In [4]:
word="Programming"
print(len(word))

11

In [5]:
word= "453890"
print(len(word))

6

### id()

In [6]:
word1= "Programme"
word2="Program"
print(id(word1))
print(id(word2))

1361688140656
1361688135600

- id is the object’s memory address

In [7]:
word1= "Programme"
word2="Program"
print(word1==word2)    # == → Checks the variables are equal in element wise
print(word1 is word2)  # is → Checks the memory address(ID)

False
False

In [8]:
word1= "Programme"
word1 += "Python"
print(id(word1))

1361688150704

## Tasks

In [8]:
name=input("Enter your name: ")
byear=int(input("Enter your birthyear: "))
years=2024-byear
print("Hey, ", name, "you are ", years, "years old")

Enter your name: Minusha
Enter your birthyear: 2001
Hey,  Minusha you are  23 years old

In [9]:
num=int(input("Enter the mark: "))
if(num>75):
    print("A")
elif(num>=65):
    print("B")
elif(num>=50):
    print("C")
elif(num>=35):
    print("S")
else:
    print("F")

Enter the mark: 79
A

## Using math library

In [10]:
import math

print(math.sqrt(9))        
print(math.factorial(5))
print(math.floor(567.7654))

3.0
120
567

- math.sqrt() → returns the square root value of an object.
- math.factorial() → returns the factorial of a given number.
- math.floor() → returns the floor value of a specific floating point number.

In [11]:
import math
num=float(input("Enter number: "))
print("Square root value ",math.sqrt(num))

Enter number: 32
Square root value  5.656854249492381

In [13]:
import math
num=float(input("Enter number: "))
print("Square root value ",num)

Enter number: 42
Square root value  42.0

## Python Functions

###  1. No parameter, No return type

In [14]:
def output():
    print("Test ") 
output()

Test

In [15]:
def findsum():
    x=5
    y=10
    print("Sum is: ",x+y)
findsum()

Sum is:  15

In [17]:
def findsum():
    no1 = int(input("Enter first number: "))
    no2 = int(input("Enter first number: "))
    total = no1+no2
    print("The total is: ",total)
findsum()

Enter first number: 67
Enter first number: 45
The total is:  112

In [18]:
def OddEven():
    number = 4567
    if (number % 2 == 0):
        print("Even Number")
    else:
        print("Odd Number")
OddEven()

Odd Number

In [19]:
def swap():
    num1 = 5
    num2 = 10
    
    print(num1, num2)
    
    num3 = num1
    num1 = num2
    num2 = num3
    
    print(num1, num2)
swap()

5 10
10 5

### 2. No parameter, With return type

In [20]:
def findpro():
    no1 = int(input("Enter first number: "))
    no2 = int(input("Enter first number: "))
    return no1* no2
findpro()

Enter first number: 78
Enter first number: 3

234

### 3. With parameter, No return type

In [21]:
def product(a,b):
    c = a*b
    print("Product is: ",c)
product(10, 20)

Product is:  200

In [22]:
def product(a,b=4):
    c = a*b
    print("Product is: ",c)
product(5)
product(10)

Product is:  20
Product is:  40

In [23]:
def findsum(no1, no2):
    total = no1+no2
    print("The total is: ",total)
no1 = int(input("Enter first number: "))
no2 = int(input("Enter first number: "))
findsum(no1, no2)

Enter first number: 67
Enter first number: 30
The total is:  97

In [24]:
def findsum(no1, no2=10):
    total = no1+no2
    print("The total is: ",total)
findsum(5)

The total is:  15

### 4. With parameter, With return type

In [25]:
def findpro(a, b):
    return a*b
#calling the function
no1 = int(input("Enter first number: "))
no2 = int(input("Enter first number: "))
findpro(no1, no2)

Enter first number: 23
Enter first number: 43

989

## Lists

In [26]:
languages = ["Java", "Python", "C"]
print(languages)

['Java', 'Python', 'C']

In [27]:
randomList = ["Ann", 75, "Tom", 89.9]
print(randomList)

['Ann', 75, 'Tom', 89.9]

In [28]:
Numbers = [4, 8, 2, 10, 12]
Fruits = ["Apple", "Banana", "Grapes"]
Vehicles = ["Car", "Van", "Train"]
print(Numbers, Fruits, Vehicles)

[4, 8, 2, 10, 12] ['Apple', 'Banana', 'Grapes'] ['Car', 'Van', 'Train']

### List Indexing

In [29]:
grade = ["A","B","C","D","E"]
print(grade[0])
print(grade[2])
print(grade[-1])

A
C
E

### List Slicing

In [30]:
STR = ['P','Y','T','H','O','N']
sliced = STR[1:3]
print(sliced)

['Y', 'T']

In [31]:
marks = [70, 50, 60, 90, 85, 44, 52, 78]
print(marks[3:6])

[90, 85, 44]

In [32]:
uniList = ['U', 'N', 'I', 'V', 'E', 'R', 'S', 'I', 'T', 'Y']
print(uniList[2])
print(uniList[2:5])
print(uniList[-2])
print(uniList[-5:-2])
print(uniList[::1])
print(uniList[::-1])
print(uniList[::2])
print(uniList[::-2])
print(uniList[:])

I
['I', 'V', 'E']
T
['R', 'S', 'I']
['U', 'N', 'I', 'V', 'E', 'R', 'S', 'I', 'T', 'Y']
['Y', 'T', 'I', 'S', 'R', 'E', 'V', 'I', 'N', 'U']
['U', 'I', 'E', 'S', 'T']
['Y', 'I', 'R', 'V', 'N']
['U', 'N', 'I', 'V', 'E', 'R', 'S', 'I', 'T', 'Y']

### reverse() function

In [33]:
marks = [23,67,11,26,76,91,35,52,45]
print(marks)

print(marks[::-1])

marks.reverse()
print(marks)

[23, 67, 11, 26, 76, 91, 35, 52, 45]
[45, 52, 35, 91, 76, 26, 11, 67, 23]
[45, 52, 35, 91, 76, 26, 11, 67, 23]

### Assigning/Deleting/Sorting Lists

In [34]:
marks = [23,67,11,26,76,91,35,52,45]

marks[2:4] = [0,0]
print(marks)

[23, 67, 0, 0, 76, 91, 35, 52, 45]

In [35]:
marks = [23,67,11,26,76,91,35,52,45]

del marks[-2]
print(marks)

[23, 67, 11, 26, 76, 91, 35, 45]

In [9]:
marks = [23,67,11,26,76,91,35,52,45]

del marks[2:4]
print(marks)

[23, 67, 76, 91, 35, 52, 45]

In [10]:
marks = [23,67,11,26,76,91,35,52,45]
print(marks)

orderdedList = sorted(marks)
print(orderdedList)

[23, 67, 11, 26, 76, 91, 35, 52, 45]
[11, 23, 26, 35, 45, 52, 67, 76, 91]

### append() function

In [11]:
marks = [23,67,11,6,5,9]

marks.append([16,30])
print(marks)

[23, 67, 11, 6, 5, 9, [16, 30]]

### extend() function

In [12]:
marks = [23,67,11,6,5,9]

marks.extend([6,20])
print(marks)

[23, 67, 11, 6, 5, 9, 6, 20]

### insert() function

In [13]:
numbers = ["one", "two", "four"]
numbers.insert(2, "three")
print(numbers)

['one', 'two', 'three', 'four']

### List Operations

In [14]:
Vehicles1 = ["Car", "Van", "Bus"]
Vehicles2 = ["Bicycle", "Lorry"]
Vehicles = Vehicles1 + Vehicles2
print(Vehicles)

['Car', 'Van', 'Bus', 'Bicycle', 'Lorry']

In [15]:
Numbers = [4,6, 3, 9, 8]
Num = Numbers * 2
print(Num)

[4, 6, 3, 9, 8, 4, 6, 3, 9, 8]

## while() Loop

In [16]:
i = 1
sum = 0
n = 10

while(i <= n):
    sum += i
    i += 1
    
print("The sum of the first 10 natural numbers: ", sum)

The sum of the first 10 natural numbers:  55

In [2]:
i = 1
n = 10

while(i <= n):
    print(24*i)
    i += 1

24
48
72
96
120
144
168
192
216
240

In [3]:
i = 1

while(i <= 5):
    print("*" * i)
    i += 1

*
**
***
****
*****

In [4]:
i = 0

while(i <= 25):
    if(i % 2 == 0):
        print(i)
    i += 1

0
2
4
6
8
10
12
14
16
18
20
22
24

In [5]:
i = 0

while(i <= 25):
    
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25

In [6]:
number = int(input("Enter the number: "))

count = 0

while(number != 0):
    number //= 10
    count += 1
    
print("Total count of digits: ", count)

Enter the number: 26
Total count of digits:  2

In [7]:
number = 87654

reverseNumber = 0

while(number > 0):
    reminder = number % 10
    reverseNumber = (reverseNumber * 10) + reminder
    number = number // 10
    
print("Reverse Number: ", reverseNumber)

Reverse Number:  45678

## for() Loop

In [8]:
for x in "AVENGERS":
    print(x)

A
V
E
N
G
E
R
S

In [9]:
districts = ['Colombo', 'Kaluthara', 'Ja-ela']

for district in districts:
    print(district)

Colombo
Kaluthara
Ja-ela

## Nested for() Loop

In [10]:
colors = ["white", "red", "yellow"]
vehicles = ["car", "van", "bus"]

for c in colors:
    for v in vehicles:
        print(c, v)

white car
white van
white bus
red car
red van
red bus
yellow car
yellow van
yellow bus

### range() function

In [11]:
for n in range(10):
    print(n)

0
1
2
3
4
5
6
7
8
9

In [12]:
for n in range(2, 5):
    print(n)

2
3
4

In [13]:
for n in range(2, 10, 2):
    print(n)

2
4
6
8

In [15]:
for n in range(10, 2, -2):
    print(n)

10
8
6
4

In [16]:
sum = 0

for num in range(1,11):
    sum += num

print(sum)

55

In [17]:
for num in range(0, 10):
    print(num * num)

0
1
4
9
16
25
36
49
64
81

In [18]:
for num in range(0, 10, 1):
    print(num * num)

0
1
4
9
16
25
36
49
64
81

In [19]:
sum = 0

for num in range(0, 10):
    if(num % 2 == 0):
        sum += num
        
print("Sum of the even numbers: ",sum)

Sum of the even numbers:  20

In [23]:
num1 = int(input("Enter number 01: "))
num2 = int(input("Enter number 02: "))
num3 = int(input("Enter number 03: "))

count = 0

for x in range(num1, num2):
    if(x % num3 == 0):
        count += 1
        
print("Count of numbers between", num1, "&", num2, ":", count)

Enter number 01: 9
Enter number 02: 6
Enter number 03: 2
Count of numbers between 9 & 6 : 0

In [24]:
count = 0

for x in range(99,0,-1):
    count += 1
    
print(count, " ---- ", x)

99  ----  1

In [25]:
number = int(input("Enter an integer: "))

for count in range(1,11):
    product = number * count
    print(number, "x", count, "=", product)

Enter an integer: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [26]:
numList = [10,20,30,40,50]

for n in range(4,-1,-1):
    print(numList[n])

50
40
30
20
10

In [27]:
numList = [1,2,3]
weekDay = ["Monday", "Tuesday", "Wednesday"]

for n in numList:
    print(n)
    for w in weekDay:
        print(w)

1
Monday
Tuesday
Wednesday
2
Monday
Tuesday
Wednesday
3
Monday
Tuesday
Wednesday

In [30]:
name = input("Enter your name: ")

for n in range(4):
    for n in range(3):
        print(name + " ", end = ' ')
    print()

Enter your name: Minusha
Minusha  Minusha  Minusha
Minusha  Minusha  Minusha
Minusha  Minusha  Minusha
Minusha  Minusha  Minusha

In [31]:
for row in range(1,6):
    for col in range(1, row + 1):
        print("*", end = '')
    print()

*
**
***
****
*****

In [32]:
for row in range(1,6):
    for col in range(1, row + 1):
        print("*", end = '')
    print()
    
for row in range(6, 0, -1):
    for col in range(1, row - 1):
        print("*", end = '')
    print()

*
**
***
****
*****
****
***
**
*

In [33]:
for row in range(1,6):
    for col in range(1, row + 1):
        print(col, end = '')
    print()

1
12
123
1234
12345

In [34]:
for row in range(1,6):
    for col in range(1, row + 1):
        print(row, end = '')
    print()

1
22
333
4444
55555

## Tuple

In [40]:
tup1 = () #empty tuple
tup2 = (10,20,30) #tuple with integer numbers
print(tup2)
tup3 = ('one','two','three')
print(tup3)

(10, 20, 30)
('one', 'two', 'three')

In [41]:
mytuple = ('red', 'green', 'blue')
for x in mytuple:
    print(x)

red
green
blue

In [42]:
#go with index
mytuple = ('red', 'green', 'blue')
for x in enumerate (mytuple):
    print(x)

(0, 'red')
(1, 'green')
(2, 'blue')

In [43]:
# Activity:

# Q1
import sys
print("Version",sys.version)

# Q2
from datetime import datetime
current_dt = datetime.now()
print("Current Date and Time is: ",current_dt)

# Q3
firstname = input("Enter First Name: ")
lastname = input("Enter Last Name: ")
rn = lastname+" "+firstname
print(rn)

# Q4
input_num = input("Enter comma-seperated numbers: ")
num_list = [int(num) for num in input_num.split(',')]
print("List: ",num_list)
num_tuple = tuple(num_list)
print("Tuple: ",num_tuple)

Version 3.11.5 | packaged by Anaconda, Inc. | (main, Sep 11 2023, 13:26:23) [MSC v.1916 64 bit (AMD64)]
Current Date and Time is:  2024-04-24 19:43:34.297605
Enter First Name: Minusha
Enter Last Name: Attygala
Attygala Minusha
Enter comma-seperated numbers: 2,4,3,6,10,16,5
List:  [2, 4, 3, 6, 10, 16, 5]
Tuple:  (2, 4, 3, 6, 10, 16, 5)

## Dictionaries

In [46]:
Details = dict()
Details['name'] = "Minusha"
Details['age'] = 23
print(Details)

{'name': 'Minusha', 'age': 23}

## Sets

In [47]:
fav_numbers = {'eric':17, 'ever':4}
for name, numbers in fav_numbers.items():
    print(name, " ", str(numbers))

eric   17
ever   4

In [48]:
myset = {1,3,5,7,9} #set of numbers
for i in myset:
 print(i)

1
3
5
7
9

In [49]:
# Union
first_set = {1,5,7,4,2}
second_set = {4,5,6,7,8}
new_set = first_set|second_set
print(new_set)

# or

first_set = {1,5,7,4,2}
second_set = {4,5,6,7,8}
new_set = first_set.union(second_set)
print(new_set)

# Intersection
first_set = {1,5,7,4,2}
second_set = {4,5,6,7,8}
new_set = first_set&second_set
print(new_set)

# or

first_set = {1,5,7,4,2}
second_set = {4,5,6,7,8}
new_set = first_set.intersection(second_set)
print(new_set)

# Difference
first_set = {1,5,7,4,2}
second_set = {4,5,6,7,8}
new_set = first_set.difference(second_set)
print(new_set)

# Symettric Difference
first_set = {1,5,7,4,2}
second_set = {4,5,6,7,8}
new_set = first_set.symmetric_difference(second_set)
print(new_set)

{1, 2, 4, 5, 6, 7, 8}
{1, 2, 4, 5, 6, 7, 8}
{4, 5, 7}
{4, 5, 7}
{1, 2}
{1, 2, 6, 8}

In [50]:
# Activity 3

# Q1
def findMin(numbers):
    if not numbers:
        return "List is Empty"
    small_num = min(numbers)
    return small_num
num_list = [11, 16, 1, 10, 9, 20]
small = findMin(num_list)
print(small)

# Q2
def wordCount(str):
    words = str.split();
    num_words = len(words)
    return num_words
sen = "Welcome to Introduction to Programming Module"
count = wordCount(sen)
print(count)

1
6

## lambda function

In [51]:
x = lambda a:a+10
print(x(5))

15

In [52]:
# Add 3 numbers 
y = lambda p,q,r:p+q+r
print(y(5,8,9))

22

#### Q1. Checks if a user-input year is a leap year or not

In [53]:
year = int(input("Enter a year: "))

# Check if the year is a leap year
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

Enter a year: 2020
2020 is a leap year.

#### Q2. Count the number of even numbers in the given list of natural numbers

In [54]:
numbers = [11, 16, 1, 10, 9, 20]

# Initialize a variable to count the number of even numbers
even_count = 0

# Iterate through the list
for num in numbers:
    # Check if the number is even
    if num % 2 == 0:
        even_count += 1

# Print the count of even numbers
print("Number of even numbers in the list:", even_count)

Number of even numbers in the list: 3

#### Q3. Find the smallest number in the given list

In [18]:
numbers = [11, 16, 1, 10, 9, 20]

# Find the smallest number in the list using the min() function
smallest_number = min(numbers)

smallest_number

1